<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.dao.AppMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.asset.App">
            <id property="appId" column="app_id" />
            <result property="displayName" column="display_name" />
            <result property="installLocation" column="install_location" />
            <result property="uninstallString" column="uninstall_string" />
            <result property="hostName" column="host_name" />
            <result property="id" column="id" />
            <result property="macAddress" column="mac_address" />
            <result property="time" column="time" />
            <result property="detectId" column="detect_id" />
    </resultMap>

    <sql id="Base_Column_List">
        app_id,display_name,install_location,uninstall_string,host_name,id,
        mac_address,time,detect_id
    </sql>

    <select id="selectLastDetectIdByMac" parameterType="string" resultType="int">
    SELECT detect_id FROM account WHERE mac_address = #{macAddress}
    ORDER BY detect_id DESC LIMIT 1
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from app
        where  app_id = #{appId} 
    </select>
    <select id="selectAllByMacAddress" resultType="com.tpp.threat_perception_platform.asset.App">
        select
            <include refid="Base_Column_List"/>
            from app
        where mac_address = #{macAddress}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from app
        where  app_id = #{appId} 
    </delete>
    <insert id="insert" keyColumn="app_id" keyProperty="appId" parameterType="com.tpp.threat_perception_platform.asset.App" useGeneratedKeys="true">
        insert into app
        ( app_id,display_name,install_location,uninstall_string,host_name,id,
        mac_address,time,detect_id)
        values (#{appId},#{displayName},#{installLocation},#{uninstallString},#{hostName},#{id},
        #{macAddress},#{time},#{detectId})
    </insert>
    <insert id="insertSelective" keyColumn="app_id" keyProperty="appId" parameterType="com.tpp.threat_perception_platform.asset.App" useGeneratedKeys="true">
        insert into app
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="appId != null">app_id,</if>
                <if test="displayName != null">display_name,</if>
                <if test="installLocation != null">install_location,</if>
                <if test="uninstallString != null">uninstall_string,</if>
                <if test="hostName != null">host_name,</if>
                <if test="id != null">id,</if>
                <if test="macAddress != null">mac_address,</if>
                <if test="time != null">time,</if>
                <if test="detectId != null">detect_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="appId != null">#{appId},</if>
                <if test="displayName != null">#{displayName},</if>
                <if test="installLocation != null">#{installLocation},</if>
                <if test="uninstallString != null">#{uninstallString},</if>
                <if test="hostName != null">#{hostName},</if>
                <if test="id != null">#{id},</if>
                <if test="macAddress != null">#{macAddress},</if>
                <if test="time != null">#{time},</if>
                <if test="detectId != null">#{detectId},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.asset.App">
        update app
        <set>
                <if test="displayName != null">
                    display_name = #{displayName},
                </if>
                <if test="installLocation != null">
                    install_location = #{installLocation},
                </if>
                <if test="uninstallString != null">
                    uninstall_string = #{uninstallString},
                </if>
                <if test="hostName != null">
                    host_name = #{hostName},
                </if>
                <if test="id != null">
                    id = #{id},
                </if>
                <if test="macAddress != null">
                    mac_address = #{macAddress},
                </if>
                <if test="time != null">
                    time = #{time},
                </if>
                <if test="detectId != null">
                    detect_id = #{detectId},
                </if>
        </set>
        where   app_id = #{appId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.asset.App">
        update app
        set 
            display_name =  #{displayName},
            install_location =  #{installLocation},
            uninstall_string =  #{uninstallString},
            host_name =  #{hostName},
            id =  #{id},
            mac_address =  #{macAddress},
            time =  #{time},
            detect_id =  #{detectId}
        where   app_id = #{appId} 
    </update>
</mapper>
